In [1]:
import pandas as pd
import numpy as np
import re

In [19]:
AA = 'GALMFWKQESPVICYHRNDT'

In [20]:
regex = re.compile(f"^[{AA}]+$")

# Input

In [2]:
T1 = '../../experiments/exp10x/raw/vdj_v1_hs_aggregated_donor1_all_contig_annotations.csv'
T2 = '../../experiments/exp10x/raw/vdj_v1_hs_aggregated_donor2_all_contig_annotations.csv'
T3 = '../../experiments/exp10x/raw/vdj_v1_hs_aggregated_donor3_all_contig_annotations.csv'
T4 = '../../experiments/exp10x/raw/vdj_v1_hs_aggregated_donor4_all_contig_annotations.csv'

In [4]:
B1 = '../../experiments/exp10x/raw/vdj_v1_hs_aggregated_donor1_binarized_matrix.csv'
B2 = '../../experiments/exp10x/raw/vdj_v1_hs_aggregated_donor2_binarized_matrix.csv'
B3 = '../../experiments/exp10x/raw/vdj_v1_hs_aggregated_donor3_binarized_matrix.csv'
B4 = '../../experiments/exp10x/raw/vdj_v1_hs_aggregated_donor4_binarized_matrix.csv'

# Load

In [3]:
t1 = pd.read_csv(T1)
t2 = pd.read_csv(T2)
t3 = pd.read_csv(T3)
t4 = pd.read_csv(T4)

In [5]:
b1 = pd.read_csv(B1)
b2 = pd.read_csv(B2)
b3 = pd.read_csv(B3)
b4 = pd.read_csv(B4)

In [7]:
t1.barcode

0          AAACCTGAGACAAAGG-4
1          AAACCTGAGACAAAGG-4
2          AAACCTGAGACAAAGG-4
3          AAACCTGAGACAAAGG-4
4          AAACCTGAGACAAAGG-4
                 ...
187139     TTTGTCATCCCAGGTG-3
187140    TTTGTCATCTGCAAGT-21
187141    TTTGTCATCTTACCGC-24
187142    TTTGTCATCTTACCGC-24
187143    TTTGTCATCTTACCGC-24
Name: barcode, Length: 187144, dtype: object

In [8]:
b1.barcode

0         AAACCTGAGACAAAGG-4
1        AAACCTGAGACTGTAA-34
2         AAACCTGAGAGCCCAA-5
3        AAACCTGAGAGCTGCA-24
4         AAACCTGAGAGGGATA-8
                ...
46521    TTTGTCATCGAGGTAG-13
46522    TTTGTCATCTCCAACC-24
46523    TTTGTCATCTCCTATA-36
46524    TTTGTCATCTGTCAAG-32
46525    TTTGTCATCTGTCCGT-39
Name: barcode, Length: 46526, dtype: object

In [10]:
len(set(b1.barcode).intersection(set(t1.barcode)))

46526

In [13]:
summary = pd.DataFrame(index=['d1','d2','d3','d4'], columns=['n_tcr','n_tcr_iupac','n_pep','n_pep_tcr','n_pep_tcr_iupac'])

In [30]:
for t,p,d in zip([t1,t2,t3,t4],[b1,b2,b3,b4],['d1','d2','d3','d4']):
    summary.loc[d, 'n_tcr'] = len(t.barcode.unique())
    summary.loc[d, 'n_pep'] = len(p.barcode.unique())
    summary.loc[d, 'n_pep_tcr'] = len(set(p.barcode).intersection(set(t.barcode)))
    
    iupac_flt = t.cdr3.apply(lambda x: True if regex.search(x) is not None else False)
    iupac_tcr = set(t[iupac_flt].barcode.unique())
    summary.loc[d, 'n_tcr_iupac'] = len(iupac_tcr)
    summary.loc[d, 'n_pep_tcr_iupac'] = len(set(p.barcode).intersection(iupac_tcr))

In [31]:
summary

     n_tcr n_tcr_iupac  n_pep n_pep_tcr n_pep_tcr_iupac
d1   55910       54537  46526     46526           46526
d2   92057       90220  77854     77854           77854
d3  270957      226493  37824     37824           37824
d4  190113      160289  27308     27308           27308

In [32]:
summary.n_pep_tcr_iupac.sum()

189512

In [25]:
iupac_flt = t1.cdr3.apply(lambda x: True if regex.search(x) is not None else False)