In [1]:
import numpy as np
import pandas as pd
from scipy.io import mmread
from ast import literal_eval
import scipy.stats as stats
import random
import re
import statistics
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib_venn import venn2
plt.style.use('ggplot')

In [ ]:
bc2peptide = {'0251':'pep1',
              '0252':'pep1',
              '0253':'pep1',
              '0254':'pep1',
              '0255':'pep1',
              '0256':'pep2',
              '0257':'pep2',
              '0258':'pep2',
              '0259':'pep2',
              '0260':'pep2'}

bc2cyt = {'0251':'cyt1',
          '0252':'cyt2',
          '0253':'cyt3',
          '0254':'cyt4',
          '0255':'cyt5',
          '0256':'cyt1',
          '0257':'cyt2',
          '0258':'cyt3',
          '0259':'cyt4',
          '0260':'cyt5'}

In [26]:
16+10+13+19+6

64

# Input

In [2]:
RAW_DIR = '/Volumes/tuba/herpov/tcr-pmhc-sc-project/data/exp9.2_TCR/processed/cellranger_out/multi/outs/multi/count/raw_feature_bc_matrix/'
FLT_DIR = '/Volumes/tuba/herpov/tcr-pmhc-sc-project/data/exp9.2_TCR/processed/cellranger_out/multi/outs/per_sample_outs/multi/count/sample_feature_bc_matrix/'

In [3]:
DIR = RAW_DIR
MTX = DIR + "matrix.mtx.gz"
GEM = DIR + "barcodes.tsv.gz" 
BCS = DIR + "features.tsv.gz"

# Load

In [4]:
m = mmread(MTX)

In [5]:
g = np.loadtxt(GEM, dtype='U36')

In [6]:
b_df = pd.read_csv(BCS, sep='\t', names=['gene_id','gene_name','feature_type'])

In [7]:
b_df

               gene_id    gene_name      feature_type
0      ENSG00000243485  MIR1302-2HG   Gene Expression
1      ENSG00000237613      FAM138A   Gene Expression
2      ENSG00000186092        OR4F5   Gene Expression
3      ENSG00000238009   AL627309.1   Gene Expression
4      ENSG00000239945   AL627309.3   Gene Expression
...                ...          ...               ...
36743             0256         0256  Antibody Capture
36744             0257         0257  Antibody Capture
36745             0258         0258  Antibody Capture
36746             0259         0259  Antibody Capture
36747             0260         0260  Antibody Capture

[36748 rows x 3 columns]

In [8]:
b = pd.MultiIndex.from_frame(b_df[['feature_type','gene_name']])

In [9]:
df = pd.DataFrame(m.toarray(), index=b, columns=g)

In [10]:
df

                              AAACCTGAGAAACCAT-1  AAACCTGAGAAACCGC-1  \
feature_type     gene_name
Gene Expression  MIR1302-2HG                   0                   0
                 FAM138A                       0                   0
                 OR4F5                         0                   0
                 AL627309.1                    0                   0
                 AL627309.3                    0                   0
...                                          ...                 ...
Antibody Capture 0256                          0                  16
                 0257                          0                   0
                 0258                          0                   2
                 0259                          0                   0
                 0260                          0                   2

                              AAACCTGAGAAACCTA-1  AAACCTGAGAAACGAG-1  \
feature_type     gene_name
Gene Expression  MIR1302-2HG                   0                   0
                 FAM138A                       0                   0
                 OR4F5                         0                   0
                 AL627309.1                    0                   0
                 AL627309.3                    0                   0
...                                          ...                 ...
Antibody Capture 0256                          0                   0
                 0257                          0                   0
                 0258                          0                   0
                 0259                          0                   0
                 0260                          0                   0

                              AAACCTGAGAAACGCC-1  AAACCTGAGAAAGTGG-1  \
feature_type     gene_name
Gene Expression  MIR1302-2HG                   0                   0
                 FAM138A                       0                   0
                 OR4F5                         0                   0
                 AL627309.1                    0                   0
                 AL627309.3                    0                   0
...                                          ...                 ...
Antibody Capture 0256                          0                   2
                 0257                          0                   0
                 0258                          0                   2
                 0259                          0                   1
                 0260                          0                   1

                              AAACCTGAGAACAACT-1  AAACCTGAGAACAATC-1  \
feature_type     gene_name
Gene Expression  MIR1302-2HG                   0                   0
                 FAM138A                       0                   0
                 OR4F5                         0                   0
                 AL627309.1                    0                   0
                 AL627309.3                    0                   0
...                                          ...                 ...
Antibody Capture 0256                          0                   0
                 0257                          0                   0
                 0258                          0                   0
                 0259                          0                   0
                 0260                          0                   0

                              AAACCTGAGAACTCGG-1  AAACCTGAGAACTGTA-1  ...  \
feature_type     gene_name                                            ...
Gene Expression  MIR1302-2HG                   0                   0  ...
                 FAM138A                       0                   0  ...
                 OR4F5                         0                   0  ...
                 AL627309.1                    0                   0  ...
                 AL627309.3                    0                   0  ...
...                                          ...                 ...  ...
Antibody Capture 0256                          1                   0  ...
                 0257                          0                   0  ...
                 0258                          0                   0  ...
                 0259                          1                   0  ...
                 0260                          0                   0  ...

                              TTTGTCATCTTGGGTA-1  TTTGTCATCTTGTACT-1  \
feature_type     gene_name
Gene Expression  MIR1302-2HG                   0                   0
                 FAM138A                       0                   0
                 OR4F5                         0                   0
                 AL627309.1                    0                   0
                 AL627309.3                    0                   0
...                                          ...                 ...
Antibody Capture 0256                          0                   0
                 0257                          0                   0
                 0258                          0                   0
                 0259                          0                   0
                 0260                          0                   0

                              TTTGTCATCTTGTATC-1  TTTGTCATCTTGTCAT-1  \
feature_type     gene_name
Gene Expression  MIR1302-2HG                   0                   0
                 FAM138A                       0                   0
                 OR4F5                         0                   0
                 AL627309.1                    0                   0
                 AL627309.3                    0                   0
...                                          ...                 ...
Antibody Capture 0256                          0                   0
                 0257                          0                   0
                 0258                          0                   0
                 0259                          0                   0
                 0260                          0                   0

                              TTTGTCATCTTGTTTG-1  TTTGTCATCTTTACAC-1  \
feature_type     gene_name
Gene Expression  MIR1302-2HG                   0                   0
                 FAM138A                       0                   0
                 OR4F5                         0                   0
                 AL627309.1                    0                   0
                 AL627309.3                    0                   0
...                                          ...                 ...
Antibody Capture 0256                          2                   0
                 0257                          0                   0
                 0258                          0                   0
                 0259                          0                   0
                 0260                          0                   0

                              TTTGTCATCTTTACGT-1  TTTGTCATCTTTAGGG-1  \
feature_type     gene_name
Gene Expression  MIR1302-2HG                   0                   0
                 FAM138A                       0                   0
                 OR4F5                         0                   0
                 AL627309.1                    0                   0
                 AL627309.3                    0                   0
...                                          ...                 ...
Antibody Capture 0256                          0                   1
                 0257                          0                   0
                 0258                          0                   0
                 0259                          0                   0
                 0260                          0                   0

                              TTTGTCATCTTTAGTC-1  TTTGTCATCTTTCCTC-1
feature_type     gene_name
Gene Expression  MIR1302-2HG                   0                   0
                 FAM138A                       0                   0
                 OR4F5                         0                   0
                 AL627309.1                    0                   0
                 AL627309.3                    0                   0
...                                          ...                 ...
Antibody Capture 0256                          2                   0
                 0257                          0                   0
                 0258                          1                   0
                 0259                          0                   0
                 0260                          0                   0

[36748 rows x 723172 columns]

In [11]:
mhc_barcodes = df.index[-10:]
cdx_barcodes = df.index[:-10]

In [12]:
cdx_barcodes

MultiIndex([( 'Gene Expression', 'MIR1302-2HG'),
            ( 'Gene Expression',     'FAM138A'),
            ( 'Gene Expression',       'OR4F5'),
            ( 'Gene Expression',  'AL627309.1'),
            ( 'Gene Expression',  'AL627309.3'),
            ( 'Gene Expression',  'AL627309.2'),
            ( 'Gene Expression',  'AL627309.5'),
            ( 'Gene Expression',  'AL627309.4'),
            ( 'Gene Expression',  'AP006222.2'),
            ( 'Gene Expression',  'AL732372.1'),
            ...
            ('Antibody Capture',      'LILRB1'),
            ('Antibody Capture',       'FCER2'),
            ('Antibody Capture',    'IgLambda'),
            ('Antibody Capture',     'SIGLEC7'),
            ('Antibody Capture',      'ADGRG1'),
            ('Antibody Capture',       'HLA-E'),
            ('Antibody Capture',        'CD82'),
            ('Antibody Capture',       'CD101'),
            ('Antibody Capture',       'C5AR1'),
            ('Antibody Capture',        'GGT1')],
           names=['feature_type', 'gene_name'], length=36738)

In [13]:
mhc_df = df[df.index.isin(mhc_barcodes)].reset_index(level=0, drop=True).T

In [14]:
#cdx_df = df[df.index.isin(cdx_barcodes)].reset_index(level=0, drop=True).T

In [15]:
mhc_df

gene_name           0251  0252  0253  0254  0255  0256  0257  0258  0259  0260
AAACCTGAGAAACCAT-1     0     0     0     0     1     0     0     0     0     0
AAACCTGAGAAACCGC-1     1     5     1     0     1    16     0     2     0     2
AAACCTGAGAAACCTA-1     0     0     0     0     0     0     0     0     0     0
AAACCTGAGAAACGAG-1     0     0     0     0     0     0     0     0     0     0
AAACCTGAGAAACGCC-1     0     0     0     0     0     0     0     0     0     0
...                  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
TTTGTCATCTTTACAC-1     1     1     0     0     0     0     0     0     0     0
TTTGTCATCTTTACGT-1     0     0     0     0     0     0     0     0     0     0
TTTGTCATCTTTAGGG-1     0     0     0     1     0     1     0     0     0     0
TTTGTCATCTTTAGTC-1     0     0     0     0     0     2     0     1     0     0
TTTGTCATCTTTCCTC-1     0     0     0     0     0     0     0     0     0     0

[723172 rows x 10 columns]

In [16]:
mhc_df.reset_index(drop=False, inplace=True)
#cdx_df.reset_index(drop=False, inplace=True)

mhc_df.rename(columns={'index':'gem'}, inplace=True)
#cdx_df.rename(columns={'index':'gem'}, inplace=True)

In [ ]:
# Apparently I have multiple columns containing PTPRC
# bc_df.columns[1:].value_counts()
ptprc_sum = cdx_df.PTPRC.sum(axis=1)

cdx_df.drop(columns=['PTPRC'], inplace=True)
cdx_df['PTPRC'] = ptprc_sum

In [17]:
mhc_melt = pd.melt(mhc_df, id_vars=['gem'], value_vars=mhc_df.columns[1:], value_name='umi')

In [18]:
mhc_melt

                        gem gene_name  umi
0        AAACCTGAGAAACCAT-1      0251    0
1        AAACCTGAGAAACCGC-1      0251    1
2        AAACCTGAGAAACCTA-1      0251    0
3        AAACCTGAGAAACGAG-1      0251    0
4        AAACCTGAGAAACGCC-1      0251    0
...                     ...       ...  ...
7231715  TTTGTCATCTTTACAC-1      0260    0
7231716  TTTGTCATCTTTACGT-1      0260    0
7231717  TTTGTCATCTTTAGGG-1      0260    0
7231718  TTTGTCATCTTTAGTC-1      0260    0
7231719  TTTGTCATCTTTCCTC-1      0260    0

[7231720 rows x 3 columns]

In [19]:
mhc = mhc_melt[mhc_melt.umi != 0]

In [22]:
final_df = mhc.sort_values(by='umi').groupby('gem').gene_name.apply(list).to_frame()

In [24]:
final_df['umi_lst'] = mhc.sort_values(by='umi').groupby('gem').umi.apply(list)

In [25]:
final_df

,gene_name,umi_lst
gem,,
AAACCTGAGAAACCAT-1,[0255],[1]
AAACCTGAGAAACCGC-1,"[0251, 0255, 0253, 0258, 0260, 0252, 0256]","[1, 1, 1, 2, 2, 5, 16]"
AAACCTGAGAAAGTGG-1,"[0259, 0260, 0258, 0256, 0251, 0252]","[1, 1, 2, 2, 3, 11]"
AAACCTGAGAACAACT-1,[0252],[1]
AAACCTGAGAACAATC-1,"[0252, 0251]","[1, 1]"
...,...,...
TTTGTCATCTTGTCAT-1,[0252],[1]
TTTGTCATCTTGTTTG-1,"[0256, 0252]","[2, 2]"
TTTGTCATCTTTACAC-1,"[0251, 0252]","[1, 1]"
TTTGTCATCTTTAGGG-1,"[0254, 0256]","[1, 1]"
TTTGTCATCTTTAGTC-1,"[0258, 0256]","[1, 2]"