In [1]:
import pandas as pd
import numpy as np

In [13]:
DIR = '../experiments/exp13/run1/cat/tables/tcr_barcode.cleaned.csv'

In [14]:
df1 = pd.read_csv(DIR)

In [15]:
df1.columns

Index(['gem', 'clonotype', 'num_clonotype', 'ct', 'genes_TRA', 'genes_TRB',
       'genes_lst_TRA', 'genes_lst_TRB', 'length_TRA', 'cdr1_TRA', 'cdr2_TRA',
       'cdr3_TRA', 'umi_count_TRA', 'umi_count_lst_TRA', 'delta_umi_TRA',
       'cdr3_lst_TRA', 'chain_count_TRA', 'single_TRA', 'length_TRB',
       'cdr1_TRB', 'cdr2_TRB', 'cdr3_TRB', 'umi_count_TRB',
       'umi_count_lst_TRB', 'delta_umi_TRB', 'cdr3_lst_TRB', 'chain_count_TRB',
       'single_TRB', 'single_chain_only', 'umi_count_tcr', 'cdr3_comb',
       'v_gene_TRA', 'j_gene_TRA', 'v_gene_TRB', 'j_gene_TRB', 'tcr_category',
       'no_filtration', 'exclude_single-chain_TCRs',
       'exclude_ambiguous_and_single-chain_TCRs', 'exclude_ambiguous_TCRs',
       'label', 'umi_count_mhc', 'umi_count_lst_mhc', 'delta_umi_mhc',
       'single_barcode_mhc', 'multiplets_mhc', 'umi_count_cd8',
       'umi_count_lst_cd8', 'delta_umi_cd8', 'single_barcode_cd8',
       'multiplets_cd8', 'detected_response', 'peptide_assayed', 'sample_id',
       'sample_id_lst', 'HLA_pool_cd8', 'HLA_lst_cd8', 'HLA_cd8', 'HLA_match',
       'HLA_mhc', 'HLA_lst_mhc', 'likely_HLA_mhc', 'peptide', 'peptide_lst',
       'peptide_HLA', 'peptide_HLA_lst', 'epitope', 'epitope_lst',
       'epitope_rank', 'marker', 'marker_lst', 'umi_count_lst_mrk',
       'delta_umi_mrk', 'single_barcode_mrk', 'multiplets_mrk', 'label_mhc',
       'label_cd8', 'label_mrk', 'umi_count_mhc_rel', 'gems_per_specificity',
       'gems_per_clonotype', 'binding_concordance', 'cdr3_TRA_substr',
       'cdr3_TRB_substr', 'VDJdb_pep', 'VDJdb_check', 'seurat',
       'umi_count_hto', 'feature_hto', 'hto_max_id', 'hto_sec_id',
       'hto_margin', 'hto_classification', 'hto_global_class', 'hash_id'],
      dtype='object')

In [20]:
grp = df1.groupby('ct').size()

In [23]:
sum(grp >= 10)

66

In [28]:
a = 2 if 3 > 4 else 1

In [31]:
df1.isna().any().any()

True

In [32]:
df1[['HLA_cd8','umi_count_cd8','HLA_lst_cd8','umi_count_lst_cd8']]

,HLA_cd8,umi_count_cd8,HLA_lst_cd8,umi_count_lst_cd8
0,"['A0201', 'B0702']",4134.0,"[['A0301', 'B0702'], ['A0301', 'B0702'], ['A02...","[1.0, 3.0, 10.0, 11.0, 13.0, 14.0, 28.0, 33.0,..."
1,"['A0201', 'A0301', 'B0702']",2168.0,"[['A0201'], ['A0301', 'B0702'], ['A0201', 'B07...","[3.0, 3.0, 4.0, 6.0, 6.0, 6.0, 10.0, 22.0, 216..."
2,"['A0301', 'B0702']",1724.0,"[['A0201'], ['A0301', 'B0702'], ['B0702'], ['A...","[1.0, 1.0, 1.0, 3.0, 4.0, 5.0, 7.0, 12.0, 22.0..."
3,"['A0201', 'B0702']",4645.0,"[['A0201', 'B0702'], ['B0702'], ['A0201'], ['A...","[4.0, 4.0, 5.0, 7.0, 15.0, 16.0, 4645.0]"
4,['B0702'],2224.0,"[['A0201'], ['A0301', 'B0702'], ['A0301', 'B07...","[2.0, 2.0, 3.0, 5.0, 6.0, 7.0, 9.0, 19.0, 24.0..."
...,...,...,...,...
7120,"['A0201', 'A0301', 'B0702']",723.0,"[['A0301', 'B0702'], ['A0301', 'B0702'], ['A02...","[1.0, 2.0, 3.0, 3.0, 3.0, 8.0, 9.0, 21.0, 723.0]"
7121,"['A0201', 'A0301', 'B0702']",1275.0,"[['A0201'], ['A0301', 'B0702'], ['A0301', 'B07...","[1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 3.0, 14.0, 174...."
7122,"['A0301', 'B0702']",2484.0,"[['A0301', 'B0702'], ['B0702'], ['A0301', 'B07...","[3.0, 3.0, 5.0, 5.0, 7.0, 9.0, 15.0, 32.0, 248..."
7123,"['A0201', 'B0702']",7070.0,"[['A0201'], ['A0301', 'B0702'], ['A0301', 'B07...","[1.0, 1.0, 1.0, 3.0, 4.0, 5.0, 5.0, 10.0, 20.0..."
7124,"['A0201', 'A0301', 'B0702']",36.0,"[['B0702'], ['A0301', 'B0702'], ['A0301', 'B07...","[3.0, 3.0, 4.0, 6.0, 9.0, 10.0, 21.0, 36.0]"

In [33]:
import math

In [35]:
math.log(0.1, 2)

-3.321928094887362

In [34]:
math.log(0.5, 2)

-1.0

In [36]:
math.log(0,2)

ValueError: math domain error

In [37]:
math.log(2,2)

1.0

In [38]:
math.log(4,2)

2.0

In [40]:
2**(-1)

0.5

In [64]:
2**np.linspace(-1,3,50)

array([0.5       , 0.52910746, 0.5599094 , 0.59250448, 0.62699707,
       0.66349765, 0.70212311, 0.74299714, 0.78625066, 0.83202217,
       0.88045827, 0.93171407, 0.98595372, 1.04335093, 1.10408951,
       1.16836399, 1.23638019, 1.30835596, 1.38452179, 1.4651216 ,
       1.55041352, 1.64067071, 1.73618221, 1.83725391, 1.94420948,
       2.05739147, 2.17716233, 2.30390564, 2.43802731, 2.57995685,
       2.73014882, 2.88908419, 3.05727197, 3.23525079, 3.42359063,
       3.62289466, 3.83380115, 4.05698555, 4.2931626 , 4.54308869,
       4.8075642 , 5.08743612, 5.38360077, 5.69700662, 6.02865736,
       6.37961511, 6.75100385, 7.14401294, 7.55990103, 8.        ])

In [54]:
2**(-1)

0.5

In [57]:
2**3

8

In [69]:
1/1.25

0.8

In [71]:
math.log(0.8, 2)

-0.3219280948873623

In [74]:
2**(-0.4)

0.757858283255199

In [62]:
df1.delta_umi_mhc.min()

0.8

In [75]:
random_init = {k:v for k,v in enumerate(2**np.linspace(-0.4,3,50))}

In [76]:
random_init

{0: 0.757858283255199,
 1: 0.7951989489293164,
 2: 0.8343794378841101,
 3: 0.8754904006112892,
 4: 0.9186269540704759,
 5: 0.9638889017579008,
 6: 1.011380964618173,
 7: 1.0612130233333728,
 8: 1.113500372550043,
 9: 1.1683639876322776,
 10: 1.2259308045580808,
 11: 1.286334013606586,
 12: 1.3497133675156263,
 13: 1.416215504822631,
 14: 1.4859942891369484,
 15: 1.5592111651285587,
 16: 1.6360355320568158,
 17: 1.716645135703437,
 18: 1.80122647961654,
 19: 1.8899752566172134,
 20: 1.9830968015669743,
 21: 2.0808065664436723,
 22: 2.183330618825004,
 23: 2.2909061649329496,
 24: 2.4037820984493083,
 25: 2.5222195763720756,
 26: 2.646492623245021,
 27: 2.776888765158447,
 28: 2.9137096949879857,
 29: 3.0572719704105853,
 30: 3.2079077463126477,
 31: 3.3659655432848763,
 32: 3.531811053981862,
 33: 3.7058279892120596,
 34: 3.8884189657157195,
 35: 4.080006437684796,
 36: 4.281033674180056,
 37: 4.491965784706804,
 38: 4.713290795322052,
 39: 4.945520777762913,
 40: 5.1891930342085955,
 41: 5.444871340417189,
 42: 5.713147250113406,
 43: 5.9946414636452126,
 44: 6.290005264075962,
 45: 6.599922024034642,
 46: 6.9251087868106245,
 47: 7.266317925350991,
 48: 7.624338882998836,
 49: 8.0}

In [68]:
random_init.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])