# OBS! Is now a python script

In [16]:
import numpy as np
import pandas as pd

# Args

In [17]:
EXP = "exp3"
PLATFORM = "IONTORRENT"#"ILLUMINA"

# Input

In [18]:
kma_fil = "/Volumes/tuba/herpov/tcr-pmhc-sc-project/data/" + EXP + "_MHC_" + PLATFORM + "/mapping/KMA-1t1/output/mapping.frag.gz"

# Output

In [19]:
clean_fil = "/Volumes/tuba/herpov/tcr-pmhc-sc-project/data/" + EXP + "_MHC_" + PLATFORM + "/mapping/KMA-1t1/output/mapping.clean.gz"

# Main

In [20]:
df = pd.read_csv(kma_fil, sep='\t', usecols = (1, 2, 3, 4, 5, 6), names = ('uncertainty', 'score', 't_alignment_start', 't_alignment_end', 'template_id', 'read_header'))

In [25]:
df.head()

,uncertainty,score,t_alignment_start,t_alignment_end,template_id,read_header,query_id,gem,credible_alignment,alignment_length,barcode,sample
0,15,37,88,137,A1064B288_sample,HBBAF:02644:01966 BX:Z:TTAGGACCAACGATCT-1,HBBAF:02644:01966,TTAGGACCAACGATCT-1,False,49,A1064B288,sample
1,15,37,88,137,A1064B288_sample,HBBAF:00780:01765 BX:Z:TTAGGACCAACGATCT-1,HBBAF:00780:01765,TTAGGACCAACGATCT-1,False,49,A1064B288,sample
2,1,98,0,114,A1064B288_sample,HBBAF:03518:01259 BX:Z:GCTGCAGGTACCGCTG-1,HBBAF:03518:01259,GCTGCAGGTACCGCTG-1,True,114,A1064B288,sample
3,1,101,0,129,A1064B288_sample,HBBAF:03366:00950 BX:Z:GCTGCAGGTACCGCTG-1,HBBAF:03366:00950,GCTGCAGGTACCGCTG-1,True,129,A1064B288,sample
4,1,92,0,105,A1064B288_sample,HBBAF:03285:01256 BX:Z:GCTGCAGGTACCGCTG-1,HBBAF:03285:01256,GCTGCAGGTACCGCTG-1,True,105,A1064B288,sample

In [22]:
df.shape

(260419, 6)

In [23]:
df['query_id'], df['gem'] = df['read_header'].str.split(" ", n = 1).str
df.replace({"gem": r"^BX:Z:"}, {"gem": ""}, regex=True, inplace=True)
assert df.duplicated(['query_id']).sum() == 0

df['credible_alignment'] = np.where(df['uncertainty'] == 1, True, False)
df['alignment_length'] = df['t_alignment_end'] - df['t_alignment_start']
df['template_id'] = df.template_id.str.split(" ", n=1,expand=True)[0] + "_sample" #HACK
df['barcode'], df['sample'] = df.template_id.str.rsplit("_", n=1).str

In [24]:
df.shape

(260419, 12)

In [26]:
df.to_csv(clean_fil, index=False)